.origo-vertical {
  position: absolute;
  border-left: 1px rgb(73, 131, 125) dashed;
}

.origo-horizontal {
  position: absolute;
  border-top: 1px rgb(73, 131, 125) dashed;
}

.origo-horizontal .origo-horizontal-marker {
  position: absolute;
  border-left: 1px rgb(73, 131, 125) dashed;
  padding-left: 5px;
  font-size: 10px;
  color: rgb(73, 131, 125);
}

.origo-horizontal .origo-horizontal-marker:last-child {
  /* border-left: 0; */
  border-right: 1px red dashed;
  color: red;
  display: none;
}

.origo-vertical .origo-vertical-marker {
  position: absolute;
  border-top: 1px rgb(73, 131, 125) dashed;
  padding-left: 5px;
  font-size: 10px;
  color: rgb(73, 131, 125);
}
